@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Freckle+Face&family=Jolly+Lodger&family=Press+Start+2P&family=VT323&display=swap');

.sidebar {
    background-color: black;
    padding: 48px 20px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    max-width: 20vw;
    overflow: auto;
    height: 80vh;
    border-right: white solid 2px;
    font-family: 'Creepster', cursive !important; 
}


li {
    font-size: 20px;
    font-family: 'Creepster', cursive !important;
}

@media screen and (max-width: 800px) {
    li {
        font-size: 15px
    }
}

@media screen and (max-width: 685px) {
    .sidebar {
        display: none;
    }
}