.sidebar {
    min-height: 100% !important;
    padding: 48px 20px 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    max-width: 20vw;
    list-style-position: inside;
}

li {
    font-size: 20px;
}