@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Freckle+Face&family=Jolly+Lodger&family=Press+Start+2P&family=VT323&display=swap');

#type {
    font-family: 'VT323', monospace;
    color: white;
    border-right: .15em solid white;
    font-size: 30px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    max-width: 315px; 
    animation: type 2s steps(60, end),
    blink-caret .75s step-end infinite;
}

@keyframes type {
    from { width: 0 }
    to { width: 90% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    60% { border-color: white; }
  }

.btn-danger, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    font-family: 'Creepster', cursive !important; 
   
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    font-family: 'Creepster', cursive !important; 
}

