#type {
    font-family: 'VT323', monospace;
    color: black;
    font-size: 30px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 5s steps(60, end);
}


@keyframes type {
    from {
        width: 0;
    }
}

/* .customButton {
background-color: grey !important;
border
} */
