.home-page-styling {
    height: 70vh;
    font-family: 'Jolly Lodger', cursive;
    font-size: 24px;
    letter-spacing: 1.5px;
    overflow: auto;
}

.home-page-styling h5 {
    font-size: 30px
}

.custom-fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.home-page-styling > div {
    width: 60%;
}

@media screen and (max-width: 805px) {
    .home-page-styling > div {
        width: 100% !important;
    }
}