@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger');

#footer {
    font-family: 'Jolly Lodger', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}