@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Freckle+Face&family=Jolly+Lodger&family=Press+Start+2P&family=VT323&display=swap');

.overflow-control {
    margin-bottom: 6rem;
}


#message {
    font-size: 30px;
    font-family: "Creepster", cursive;
    letter-spacing: 1px;
}

.adventure {
    font-family: "Jolly Lodger", cursive !important;
    font-size: 30px;
    color: black;
    background: none;
    margin-bottom: 0 !important;

}