@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger');

.modal {
    font-family: 'Jolly Lodger', cursive;
    font-size: 20px;
}

.form-input {
    font-size: 15px;
    margin-right: 10px;
    letter-spacing: 1.5px;
    max-width: 100px;
}